@media (max-width: 1250px) {
  .header__inner::after {
    content: "";
    position: absolute;
    top: 60px;
    right: 10;
    width: 585px;
    height: 560px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #000000;
  }
  .research__text {
    font-size: 17px;
    line-height: 30px;
    color: #7d7987;
    font-family: "Mulish", sans-serif;
    margin-bottom: 30px;
  }
  .research__inner {
    gap: 65px;
  }
  .img {
    max-width: 550px;
  }
}

@media (max-width: 1140px) {
  .header__inner::after {
    content: "";
    max-width: 600px;
    width: 100%;
    right: 110px;
    top: 26px;
    z-index: -1;
  }

  .header__inner {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .select__button {
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 990px) {
  .inner--all {
    display: flex;
    justify-content: center;
  }
  .title--all {
    font-size: 30px;
    line-height: 35px;
  }
  .research__text {
    font-size: 21px;
    line-height: 35px;
  }
  .img {
    display: none;
  }
  .text--all {
    font-size: 20px;
    line-height: 32px;
    color: #7d7987;
    font-family: "Mulish", sans-serif;
    margin-bottom: 35px;
  }
  .btn--all {
    width: 100%;
    height: 65px;
  }
  .section__guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 481px;
  }
}

@media (max-width: 865px) {
  .nav__btn {
    width: 135px;
  }
}
